.columns-layout {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.categories-section,
.products-section {
    flex: 1;
}

.categories-section, .products-section {
    max-width: 11rem;
}

.products-section {
    flex: 2;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0.5rem; */
}


.categories-column,
.products-column {
    min-height: 256px;
    min-width: 160px;
}

.category-item,
.product-item {
    cursor: pointer;
    transition: background-color 0.2s;
}

.category-item:hover,
.product-item:hover {
    background-color: var(--bg-overlay);
}

.category-item.selected,
.product-item.selected {
    background-color: var(--interactive-primary);
    color: var(--text-main);
}

.category-item.selected:hover,
.product-item.selected:hover {
    background-color: var(--interactive-hover);
}

.product-item {
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-weight: 600;
    white-space: nowrap;
}