.sidebar {
  width: 25%;
  min-width: 180px;
  background: #1a1d2e;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2d3348;
}

.sidebar-scroll {
  flex: 1;
  overflow-y: auto;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #1a1d2e;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #3d4461;
}

.category-btn {
  background: transparent;
  color: #8b92b0;
  border: 2px solid transparent;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 13px;
  text-align: left;
  transition: all 0.2s;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.3;
}
.user-name-topbar {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.logout-btn {
  border: none;
  color: #fff;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 1rem;
  width:93px;
}
.category-btn:hover {
  background: #252a3f;
  color: #fff;
}

.category-btn.active {
  background: #252a3f;
  color: #fff;
  /* border-color: #10b981; */
}

.sidebar-nav {
  padding: 1rem;
  margin-bottom: 0rem;
}

.nav-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.nav-btn:hover {
  background: #3d4461;
  color: #fff;
}

.RoleName{
  font-size: 12px;
}